

@font-face {
  font-family: 'iconfont-cv_components_v3';  /* Project id 3365244 */
  src: url('//at.alicdn.com/t/c/font_3365244_3dug04ny1jg.woff2?t=1669601044768') format('woff2'),
       url('//at.alicdn.com/t/c/font_3365244_3dug04ny1jg.woff?t=1669601044768') format('woff'),
       url('//at.alicdn.com/t/c/font_3365244_3dug04ny1jg.ttf?t=1669601044768') format('truetype');
}
//阿里图标账号 15386671927@163.com
  .cvIcon_search{
    &::before{
        content: "\e62f";
        font-family: 'iconfont-cv_components_v3';
        
    }
    // &:hover{
    //   font-size: 16px;
    // }
  }


  .overTool{
   
  }
// treeList
.cvIcon_collection::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e86d';
  color: rgb(243, 170, 78);
}
.cvIcon_uncollection::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e600';
}
.cvIcon_edit::before{
   font-family: 'iconfont-cv_components_v3';
   content: '\e62a';
}
.cvIcon_delete::before{
   font-family: 'iconfont-cv_components_v3';
   content: '\e6b4';
}
// 离线车辆图标
.icon0car_ico_open::before,
.icon0car_ico_close::before,
.icon0car_ico_docu::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e65a';
}
.icon1car_ico_docu::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e9cc';
}
// 在线车辆图标
.icon0car_online_ico_close::before,
.icon0car_online_ico_open::before,
.icon0car_online_ico_docu::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e65a';
  color: #008000cf;
}
.icon1car_online_ico_docu::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e9cc';
  color: #008000cf;
}
.cvIcon-jiantouLeft::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e9cd';
}
.cvIcon-jiantouRight::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e63c';
}
//司机图标
.yunwei_ico_docu::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e652';
  color: #6b6a6a;
}
//离线视频车辆
.unlineCamera_ico_open::before,
.unlineCamera_ico_close::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e969';
}
// 在线视频车辆icon
.onlineCamera_ico_open:before,
.onlineCamera_ico_close:before,
.onlineCamera_ico_docu:before {
  font-family: 'iconfont-cv_components_v3';
  content: '\e969';
  color: #008000cf;
}