

@font-face {
  font-family: 'iconfont-cv_components_v3';  /* Project id 3365244 */
  src: url('//at.alicdn.com/t/font_3365244_bhcmryp6sn4.woff2?t=1652941071966') format('woff2'),
  url('//at.alicdn.com/t/font_3365244_bhcmryp6sn4.woff?t=1652941071966') format('woff'),
  url('//at.alicdn.com/t/font_3365244_bhcmryp6sn4.ttf?t=1652941071966') format('truetype');
}
//阿里图标账号 15386671927@163.com
  .cvIcon_search{
    cursor: pointer;
    &::before{
        content: "\e62f";
        font-family: 'iconfont-cv_components_v3';
        
    }
    // &:hover{
    //   font-size: 16px;
    // }
  }


  .overTool{
   
  }
// treeList
.cvIcon_collection::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e86d';
  color: rgb(243, 170, 78);
}
.cvIcon_uncollection::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e600';
}
.cvIcon_edit::before{
   font-family: 'iconfont-cv_components_v3';
   content: '\e62a';
}
.cvIcon_delete::before{
   font-family: 'iconfont-cv_components_v3';
   content: '\e6b4';
}
// 离线车辆图标
.icon0car_ico_docu::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e65a';
}
.icon1car_ico_docu::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e9cc';
}
// 在线车辆图标
.icon0car_online_ico_docu::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e65a';
  color: #008000cf;
}
.icon1car_online_ico_docu::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e9cc';
  color: #008000cf;
}
.cvIcon-jiantouLeft::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e9cd';
}
.cvIcon-jiantouRight::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e63c';
}
//司机图标
.yunwei_ico_docu::before{
  font-family: 'iconfont-cv_components_v3';
  content: '\e652';
  color: #6b6a6a;
}